@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
:root {
  --yellow: #f7bc32;
  --brown: #363636 ;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #0e2749;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .sidebar a {
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: black;
  transition: 0.3s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body .sidebar a .nav-logo {
  height: 100px;
  width: 180px;
  background-image: url(./img/logo_antares_negro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .sidebar a:active {
  color: blue;
}
body .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
body #openBtn {
  position: absolute;
  top: 0;
  left: 0;
  align-self: flex-start;
  transition: opacity 0.5s;
  padding-left: 10px;
}
body #openBtn .openbtn {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 5px;
  border: none;
}
body #openBtn .openbtn:hover {
  background-color: #444;
}
body .background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-image: url(./img/pexels-jess-loiterton-4784226.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
}
body .header {
  height: 75px;
  width: 80%;
  background-image: url(./img/logo_antares.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1.5rem;
}
body .cards-section {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
body .cards-section h1 {
  font-family: "Pangolin", cursive;
  text-align: center;
  color: white;
}
body .cards-section .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .cards-section .cards .card {
  height: 200px;
  width: 40%;
  margin-top: 1rem;
  padding: 1rem;
  background-image: url(./img/low-poly-background-A8_generated.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px gold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .cards-section .cards .card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body .cards-section .cards .card .card-title {
  margin-top: -30px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .cards-section .cards .card .juicy {
  background-image: url(./img/juici-title.png);
}
body .cards-section .cards .card .kolsch {
  background-image: url(./img/kolsch-title.png);
}
body .cards-section .cards .card .indian {
  background-image: url(./img/indian-title.png);
}
body .cards-section .cards .card .honey {
  background-image: url(./img/honey-title.png);
}
body .cards-section .cards .card .beer-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .cards-section .cards .card .juicy-img {
  background-image: url(./img/juicy-img.png);
}
body .cards-section .cards .card .kolsch-img {
  background-image: url(./img/kolsch-img.png);
}
body .cards-section .cards .card .indian-img {
  background-image: url(./img/indian-img.png);
}
body .cards-section .cards .card .honey-img {
  background-image: url(./img/honey-img.png);
}
body .itemDetail {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .itemDetail .modal {
  position: absolute;
  width: 90%;
  height: 90vh;
  top: 5%;
  left: 5%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: white;
  display: none;
}
body .itemDetail .modal .modal-hop {
  position: absolute;
  top: -10%;
  z-index: 5;
  width: 100%;
  height: 100px;
  background-image: url(./img/modal-hop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .itemDetail .modal .modal-frame {
  height: 100%;
  width: 100%;
  border: 5px solid var(--brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .itemDetail .modal .modal-frame .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem;
  height: 80%;
  width: 80%;
  overflow-y: auto;
  background-color: var(--brown);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Pangolin", cursive;
  font-size: 16px;
}
body .itemDetail .modal .modal-frame .modal-body button {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
}
body .itemDetail .showModal {
  display: flex;
}
body .itemDetail .title {
  height: 200px;
  width: 60%;
  background-image: url(./img/header-detail.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .itemDetail .title .card-title {
  width: 80%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .itemDetail .title .indian {
  background-image: url(./img/indian-title.png);
}
body .itemDetail .pizarra {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .itemDetail .pizarra .beer-img {
  width: 33%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./img/indian-img.png);
}
body .itemDetail .pizarra .chart {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .itemDetail .pizarra .chart h1 {
  font-family: "Pangolin", cursive;
  color: white;
}
body .itemDetail .pizarra .chart h2 {
  font-size: 1rem;
  margin-top: -1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #393835;
}
body .itemDetail .pizarra .chart .chart-cardflip {
  position: relative;
  width: 50%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .itemDetail .pizarra .chart .chart-cardflip .card-front,
body .itemDetail .pizarra .chart .chart-cardflip .card-back {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  background-image: url(./img/chart-detail-img-left.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .itemDetail .pizarra .chart .chart-cardflip .card-front-right {
  background-image: url(./img/chart-detail-img-right.png);
}
body .itemDetail .pizarra .chart .chart-cardflip .card-front-right .chart-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./img/amargor-img.png);
  height: 50px;
  width: 100%;
  margin-bottom: 1rem;
}
body .itemDetail .pizarra .chart .chart-cardflip .card-front {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: card-front-rotation 4s linear infinite;
}
body .itemDetail .pizarra .chart .chart-cardflip .card-back {
  transform: rotateY(180deg);
  background-image: url(./img/chart-detail-img-right-back.png);
  animation: card-back-rotation 4s linear infinite;
}
body .itemDetail .pizarra .chart .chart-cardflip .card-back-left {
  background-image: url(./img/chart-detail-img-left-back.png);
}
body .itemDetail .pizarra .chart .chart-cardflip .right-2 {
  animation-delay: 1s;
}
body .itemDetail .pizarra .chart .chart-cardflip .right-1 {
  animation-delay: 2s;
}
body .itemDetail .pizarra .chart .chart-cardflip .left-2 {
  animation-delay: 3s;
}
body .itemDetail .item-detail-bottom {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .itemDetail .item-detail-bottom .hops-header {
  z-index: 2;
  width: 100%;
  height: 100px;
  background-image: url(./img/chart-hops.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .itemDetail .item-detail-bottom .bottom-frame {
  margin-top: -80px;
  width: 90%;
  border: 5px solid var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom {
  margin: 1rem;
  height: auto;
  width: 95%;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom h4 {
  font-family: "Pangolin", cursive;
  color: #363636;
  width: 50%;
  padding-top: 2rem;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom .description {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-bottom: 1rem;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom .description h3 {
  font-family: "Pangolin", cursive;
  color: #363636;
  width: 50%;
  text-align: center;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom .description p {
  margin-top: -1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom .description #video {
  width: 100%;
  height: 100%;
}
body .itemDetail .item-detail-bottom .bottom-frame .chart-bottom .description #video iframe {
  align-self: center;
}
body .home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .home .home-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
  color: white;
  padding-top: 1rem;
}
body .home .home-section h4 {
  margin-bottom: -1.3rem;
}
body .home .cervezas {
  background-image: url(./img/home-ocean.png);
}
body .home .cervezas .cervezas-png {
  background-image: url(./img/home-beers.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
}
body .home .maltas {
  background-image: url(./img/home-sierras.png);
}
body .home .maltas .maltas-png {
  background-image: url(./img/home-malts.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
}
body .home .historia {
  background-image: url(./img/home-mdq.png);
}
body .home .historia .historia-png {
  background-image: url(./img/home-history.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
}

@keyframes charts-animation {
  0% {
    transform: rotateX(0);
    filter: hue-rotate(0deg);
  }
  6% {
    transform: rotateX(90deg);
  }
  12% {
    transform: rotateX(0deg);
    filter: hue-rotate(-30deg);
  }
  18% {
    transform: rotateX(-10deg);
  }
  25% {
    transform: rotateZ(0);
    filter: hue-rotate(0deg);
  }
}
@keyframes card-front-rotation {
  0% {
    transform: rotateY(0);
  }
  12% {
    transform: rotateY(180deg);
  }
  20% {
    transform: rotateY(180deg);
  }
  25% {
    transform: rotateY(0deg);
  }
}
@keyframes card-back-rotation {
  0% {
    transform: rotateY(180deg);
  }
  8% {
    transform: rotateY(0deg);
  }
  16% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
}
.intro {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 1;
}

#mug {
  position: relative;
  height: 200px;
  width: 100px;
  border: 8px solid white;
  border-radius: 0 0 20% 20%/0 0 15% 15%;
}

#mug::before {
  content: "";
  height: 60%;
  width: 25%;
  border: 8px solid white;
  position: absolute;
  left: 100%;
  top: 15%;
  border-radius: 0 50% 50% 0/0 12% 12% 0;
}

#beer-intro {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffd54f;
  border-radius: 0 0 15% 15%/0 0 10% 10%;
  animation: fill-beer 1s linear forwards;
}

.bubbles {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.top-glass-bubble-1 {
  height: 45px;
  width: 65px;
  left: -15%;
  top: -10%;
  opacity: 0;
  animation: show-bubbles 0.8s linear 1.2s forwards;
}

.top-glass-bubble-2 {
  height: 45px;
  width: 65px;
  left: 5%;
  top: -18%;
  opacity: 0;
  animation: show-bubbles 0.8s linear 1.2s forwards;
}

.top-glass-bubble-3 {
  height: 55px;
  width: 50px;
  left: 43%;
  top: -17%;
  opacity: 0;
  animation: show-bubbles 0.8s linear 1.2s forwards;
}

.top-glass-bubble-4 {
  height: 31px;
  width: 35px;
  left: 80%;
  top: -10%;
  opacity: 0;
  animation: show-bubbles 0.8s linear 1.2s forwards;
}

.top-air-bubble-1 {
  opacity: 0;
  height: 15px;
  width: 15px;
  left: 90%;
  animation: show-air-bubble-1 2s linear 2s forwards;
}

.top-air-bubble-2 {
  opacity: 0;
  height: 20px;
  width: 20px;
  left: 60%;
  top: -30%;
  animation: show-air-bubble-2 2s linear 2s forwards;
}

.vertical-glass-bubble-1 {
  width: 25px;
  top: 0;
  left: -12%;
  border-radius: 0 0 60% 10%/0 0 25% 20%;
  animation: show-vertical-bubbles-1 2s linear 2s forwards;
}

.vertical-glass-bubble-2 {
  width: 25px;
  top: 0;
  left: 12%;
  border-radius: 0 0 60% 10%/0 0 25% 10%;
  animation: show-vertical-bubbles-2 2s linear 2s forwards;
}

.logo-intro {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 90px;
  background-image: url(./img/logo_antares_intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes fill-beer {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes show-bubbles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-vertical-bubbles-1 {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}
@keyframes show-vertical-bubbles-2 {
  0% {
    height: 0;
  }
  100% {
    height: 110px;
  }
}
@keyframes show-air-bubble-1 {
  0% {
    opacity: 0;
    too: 0;
  }
  100% {
    opacity: 1;
    top: -20%;
  }
}
@keyframes show-air-bubble-2 {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: -30%;
  }
}/*# sourceMappingURL=style.css.map */